body{
    padding: 0;
    margin: 0;
    font-family: Arial ,Sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /*Imagem para teste*/
    background-image: url("../../exemplo/images/background-image.jpg");
}

.navbar{
    height: 28px;
    background-color: rgb(223, 223, 223);
    text-align: right;
    padding-right: 10px;
    font-size: 1.3em;
    opacity: 0.7;
}

.link-panel{
    text-decoration: none;
}

.main-container{
    width: 70%;
    margin: auto;
    background-color: white;
    /*Altera a opacidade do conteúdo*/
    opacity: 1;
}

.blog-name-h1{
    font-size: 2.5em;
    text-align: center;
    padding: 10px
}

.container-publicacoes{
    margin: 0;
    padding: 20px;
    font-size: 1.1em;
}

.data-publicacao{
    background-color: grey;
    color: white;
    padding: 2px;
}
.titulo-publicacao{
    font-size: 1.6em;
}

.imagem-publicacao{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*verificar como será a questão de tamanho da imagem*/
    max-width: 70%;
    height: auto;
    padding: 10px;
}

/*.publicacao{
    text-align: justify;
}*/


.compartilhe-span{
    font-size: 15px;
}

.botoes-compartilhar{
    display: inline-block;
}

.botoes-compartilhar img{
    width: 30px;
    height: 30px;
}